:root {
    --bg-grey-dark: #1b1b1b;
    --bg-grey-medium: #262626;
    --bg-grey-light: #595959;
    --hightlight-1: rgb(128, 128, 0); 
    
}

html {
    background-color: var(--bg-grey-dark);
}

* {
    color: white
}

/* navigation */
#nav-bar {
    background-color: var(--bg-grey-medium);
}

#nav-bar-wrapper {
    display: flex;
    flex-flow: row wrap; 
}

.mobile-nav {
    flex: auto;
    padding: 2vh 0 0 4vw;
}

.mobile-menu-btn {
    background-color: var(--bg-grey-medium); 
    border: none; 
}

.mobile-menu-btn:hover {
    cursor: pointer; 
}

.nav-brand {
    flex: auto;
    display: inline-block; 
    text-align: center;
}

#brand-logo {
    padding: 4vh 0 0 0;
}

.profile-wrapper {
    flex: auto;
    display: inline-block; 
    text-align: right;
    padding: 4vh 2vw 0 0;
}

#nav-links {
    flex-direction: column;
    padding: 2vh 2vw;
}

.nav-link {
    text-decoration: none;
}