
/* Global */
:root {
    --col-dark: #0e0e0e;
    --col-grey-dark: #1b1b1b;;
    --col-grey-mid: #2A2A2A;
    --col-grey-light: #3b3b3b;
    --col-blue-dark: #071125;
    --col-navyblue: #0C2144;
    --col-blue-dark: #071125;
    --col-red-danger: #FF0000;
    --col-white: white;
}

html {
    background-color: var(--col-blue-dark);
}

* {
    color: white; 
    font-family: system-ui;
}

body {
    margin: 0vh 0vw; 
}

nav {
    font-size: 1.5em;
}

[hidden] {
    display: none !important;
}

::placeholder {
    color: black;
    opacity: 1; 
}
  

/* Utility */

.container-span {
    width: 100%;
    height: auto;
    padding: .5vh 0 .5vh 0;
    margin-bottom: 1vh;
}

.container {
    width: 80%;
    height: auto; 
    padding: 1vh 0 1vh 0; 
    margin: auto;
}

.btn {
    border: none; 
}

.bg-navy {
    background-color: var(--col-navyblue);
}

.bg-highlight {
    background-color: var(--col-white);
}

.text {
    text-decoration: none;
}

.text-bold {
    font-weight: bolder;
}

.text-spaced {
    letter-spacing: .1em;
}

.text-header {
    font-size: 1.25em;
}

.text-danger {
    color: var(--col-red-danger)
}
/* Index (login page) */

.index-title-wrapper {
    background: var(--col-navyblue);
    border-radius: .5em;
    text-align: center;
}

.login-title {
    font-size: 5em;
}

#login-form {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
}

.login-field {
    width: 80%; 
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 3vh;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

.index-submit-btn {
    width: 80%;
    border-radius: .2em;
    margin-top: 5vh; 
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1.5rem;
    transition: background-color .5s ease-out;
}

.index-submit-btn:hover {
    background-color: var(--col-white);
}


/* My games page */

/* Side bar */

#sidebar {
    background-color: var(--col-grey-dark);
    display: flex;
    width: fit-content;
    height: 100vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

#sidebar-nav {
    padding-left: 1vw;
    padding-right: 1vw;
}

.sidebar-option {
    display: block;
    background-color: var(--col-grey-mid);
    text-align: center;
    border-radius: 3em;
    width: 5vw;
    height: 10vh;
    margin-top: 2em;
    transition: background .5s, border-radius .5s;
}

.sidebar-option:hover {
    border-radius: 1.5em;
    background-color: var(--col-grey-light)
}

.sidebar-option-icon {
    margin-top: 2.5vh;;
}

.tooltip-text {
    position: relative;
    background-color: var(--col-dark);
    width: auto;
    border-radius: .5em;
    padding: .5em;
    visibility: hidden;
    text-align: center;
    left: 3vw;
    bottom: 7vh;
    z-index: 1;
    transform: scale(0.4);

    transition: left .3s, transform .2s;
}

.sidebar-option:hover .tooltip-text {
    visibility: visible;
    transform: scale(1);
    left: 5vw;
}

.sidebar-option:focus {
    background-color: var(--col-grey-light);
    border-radius: 1.5em;
}

/* Responisve Mobile */ 
@media (max-width: 576px) {
    
}

/* Responisve Tablet */ 
@media (max-width: 768px) {

}