<!DOCTYPE html>

    <head>
        <script type="module" src="../clientside/sidebar.js"></script>
        <link rel="stylesheet" href="../styles/main.css" />
    </head>

    <body>
        <div id="page-wrapper">
            <div id="sidebar">
                <nav id="sidebar-nav">
                    <button id="history" class="sidebar-option btn">
                        <img class="sidebar-option-icon"  src="../images/history-icon-light.svg" />
                        <p class="tooltip-text text-bold text-spaced text-header">History</p>
                    </button>
                    <button id="game" class="sidebar-option btn">
                        <img class="sidebar-option-icon"  src="../images/game-icon-light.svg" />
                        <p class="tooltip-text text-bold text-spaced text-header">Game</p>
                    </button>
                    <button id="profile" class="sidebar-option btn">
                        <img class="sidebar-option-icon" src="../images/group-icon-light.svg" />    
                        <p class="tooltip-text text-bold text-spaced text-header">Profile</p>
                    </button>
                    <button id="settings" class="sidebar-option btn">
                        <img class="sidebar-option-icon"  src="../images/settings-icon-light.svg" />
                        <p class="tooltip-text text-bold text-spaced text-header">Settings</p>
                    </button>
                </nav>
            </div>

            <main id="spa-root">

            </main>
        </div>
    </body>

</html> 