<!DOCTYPE html>

    <head>
        <script src="../clientside/games.js"></script>
        <link rel="stylesheet" href="../styles/main.css" />
    </head>

    <body>
        <div id="sidebar">
            <nav id="sidebar-nav">
                <button class="sidebar-option btn">
                    <img class="sidebar-option-icon"  src="../images/history-icon-light.svg" />
                    <p class="tooltip-text text-bold text-spaced text-header">History</p>
                </button>
                <button class="sidebar-option btn">
                    <img class="sidebar-option-icon"  src="../images/game-icon-light.svg" />
                    <p class="tooltip-text text-bold text-spaced text-header">Game</p>
                </button>
                <button class="sidebar-option btn">
                    <img class="sidebar-option-icon" src="../images/group-icon-light.svg" />    
                    <p class="tooltip-text text-bold text-spaced text-header">Profile</p>
                </button>
                <button class="sidebar-option btn">
                    <img class="sidebar-option-icon"  src="../images/settings-icon-light.svg" />
                    <p class="tooltip-text text-bold text-spaced text-header">Settings</p>
                </button>
            </nav>
        </div>
    </body>

</html> 