<!DOCTYPE html>

    <head>
        <script defer type="module" src="./src/clientside/index.js"></script>
        <link rel="stylesheet" href="../styles/main.css">
    </head>

    <body>
        <nav id="nav-bar">
            <div id="nav-bar-wrapper">
                <div class="mobile-nav-wrapper" aria-label="mobile-menu" aria-controls="nav-links">
                    <button class="mobile-menu-btn" type="button">
                        <img id="menu-icon" src="../images/menu-light.svg" width="22px" height="27px" /> 
                    </button>
                </div>

                <div class="nav-brand-wrapper">
                    <a href="/" id="home-redirect">
                        <img id="brand-logo" src="../images/logo-light.svg" width="50px" height="50px" /> 
                    </a>
                </div>

                <div class="nav-links-wrapper">
                    <a class="nav-link" href="link1">Link 1</a>
                    <a class="nav-link" href="link1">Link 2</a>
                    <a class="nav-link" href="link1">Link 3</a>
                    <a class="nav-link" href="link1">Link 4</a>
                </div>

                <div class="profile-wrapper">
                    <a href="/login">
                        <img id="profile-icon" src="../images/profile-light.svg" width="30px" height="30px" /> 
                    </a>
                </div>
            </div>

            <div id="nav-links" hidden>
                <a class="nav-link" href="link1">Link 1</a>
                <a class="nav-link" href="link1">Link 2</a>
                <a class="nav-link" href="link1">Link 3</a>
                <a class="nav-link" href="link1">Link 4</a>
            </div>
        </nav> 

        <div class="container orange-wrapper">
            <p class="span-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis ut quam mollis interdum.
            </p>
        </div>

    </body>
</html>