<!DOCTYPE html>

    <head>
        <script defer type="module" src="./src/clientside/index.js"></script>
        <link rel="stylesheet" href="../styles/main.css">
    </head>

    <body>
        <div class="container">
            <div class="index-title-wrapper">
                <h1 class="login-title">Login</h1>
            </div>

            <form method="post" id="login-form">
                <input name="username" type="text" class="login-field" placeholder="username" />
                <span class="username-error-check text-danger"></span>
                <input name="password" type="password" class="login-field" placeholder="password" />
                <span class="password-error-check text-danger"></span>
                <button class="index-submit-btn btn bg-navy">Submit</button>
                <span class="form-crediental-check text-danger"></span>
            </form>

            <a href="/games.html">go</a>
        </div>
    </body>
</html>